<a class="card">
    <img src="{{ asset('img/Products/img-brundi.jpg') }}" alt="Image Brundi">
    <div class="flex flex-column">
        <h4>BRUNDI</h4>
        <h4>180€</h4>
    </div>
    <div class="tag">
        <p class="p-min">Chaises</p>
    </div>
</a>