<footer class="flex flex-column">
    <div class="footer-container flex flex-column justify-between">
        <img src="{{ asset('logo-white.svg') }}" alt="Logo de L'Atelier du Bois">
        <div class="footer-info flex flex-column">
            <p>
                14 rue des Chênes,
                <br>
                42100 Saint-Laurent-sur-Bois
            </p>
            <div class="footer-contact flex flex-column">
                <a class="link">04 72 91 25 48</a>
                <a class="link">contact@atelierdubois.fr</a>
                <p>&copy; 2024 L'Atelier du Bois. Tous droits réservés.</p>
            </div>
        </div>
    </div>
</footer>