<header class="flex justify-between p-15">
  <a href="./index.php">
    <img src="{{ asset('logo-orange.svg') }}" alt="Logo L'Atelier du Bois" />
  </a>
  <a class="btn btn-primary" href="">Contact</a>
</header>