{% extends 'base.html.twig' %}

{% block title %}L'Atelier du Bois - Nos produits{% endblock %}

{% block main %}

<section class="products-section flex flex-column gap-25">


</section>

{% endblock %}