/* Header */
header {
  z-index: 10;
  position: fixed;
  width: 100%;
  max-width: 1920px;
  background-color: var(--color-white);
}

/* Footer */
footer {
  position: relative;
  max-width: 1920px;
  margin-top: -50px;
  z-index: 0;
  width: 100%;
  color: var(--color-white);
  background-color: var(--color-dark);
  padding: 50px;
  gap: 100px;
}

footer::before {
  content: "";
  display: block;
  position: relative;
}

.footer-container {
  max-width: 400px;
  gap: 130px;
}

.footer-container img {
  max-width: 200px;
}

.footer-info {
  gap: 30px;
}

.footer-contact {
  gap: 10px;
}

/* Button */
.btn {
  padding: 10px 20px 10px 20px;
}

.btn:hover {
  opacity: 0.8;
  transform: scale(1.02);
}

.btn-primary {
  background-color: var(--color-orange);
  color: var(--color-white);
}

.btn-account {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 42px;
  padding: 10px 10px 10px 10px;
  background-color: var(--color-orange);
  color: var(--color-white);
}

.btn-account:hover {
  opacity: 0.8;
  transform: scale(1.02);
}

/* Link */
.link {
  width: fit-content;
  display: inline-block;
  color: var(--color-dark);
  text-decoration: underline;
  text-underline-offset: 6px;
}

.link-white {
  color: var(--color-white);
}

.link:hover {
  transform: translateY(-2px);
}

.nav-link {
  color: var(--color-dark);
  width: fit-content;
  display: inline-block;
}

.nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  transform: translateY(-2px);
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 500px;
}

form div {
  display: flex;
  flex-direction: column;
}

#custom_order_type_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#agree-terms div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 6px;
}

input,
textarea,
select {
  padding: 10px 12px 10px 12px;
  border: solid 1px var(--color-dark);
  background-color: var(--color-white);

  font-family: var(--font-bdo);
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-p);
}

textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 300px;
}

/* Card */
.card {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
  border: solid 1px var(--color-white);
}

.card:hover {
  border: solid 1px var(--color-dark);
  transform: scale(0.98);
}

.tag {
  width: fit-content;
  padding: 6px 10px 6px 10px;
  color: var(--color-white);
  background-color: var(--color-dark);
}