<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}L'Atelier du Bois{% endblock %}</title>
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body class="flex flex-column items-center">
    {% include "/_partials/header.twig" %}

    <main class="flex flex-column items-center">
        {% block main %}{% endblock %}
    </main>

    {% include "/_partials/footer.twig" %}
</body>

</html>