{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}


{% block main %}

<h1>Devis</h1>

{{ form_start(form) }}



<button type="submit">Sauvegarder</button>

{{ form_end(form) }}

{% endblock %}

{% endblock %}